.server-chat {
  background: #d8d8d8;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}
.others-chat {
  background: #afeeee;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}
.my-chat {
  background: #ffd700;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}
.text-input {
  float: left;
  width: 60%;
  margin-right: 10px;
}
.text-input-box {
  float: left;
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin-left: 20px;
  margin-bottom: 20px;
}
.text-input-btn {
  float: left;
  margin-left: 5px;
}
